/* CSS Variables */

:root {
    --header-bgcolor : linear-gradient(180deg, #2A2A2A 0%, #656868 100%);
    --breadcrumb-linecolor : rgb(196, 196, 196);
    --white : rgb(255,255,255);
    --shadow : rgba(12, 18, 18, 0.4);
    --sidebar-activecolor : #ffab35;
    --sidebar-arrowcolor : rgb(110, 110, 110);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
}

/* Flexbox & Grid settings */

body {
    margin: 0px;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";

    grid-template-rows: 140px 500px 1fr;
    grid-template-columns: 1fr;
}

header {
    grid-area: header;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    align-items: flex-end;
    background: var(--header-bgcolor);
}

main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 300px 0px 300px;
    height: 100%;
}

footer {
    grid-area: footer;
    height: 100%;
    padding: 0 400px 0 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #252624;
}

.header-triangle1 {
    position: absolute;
    background-image: linear-gradient(-45deg, #FFC301 0%, #FF6D0D 100%);
    transform: rotate(270deg);
    clip-path: polygon(0 100%, 100% 100%, 0 0);
    width: 80px;
    height: 80px;
    box-shadow: 0px 2px 4px 0px var(--shadow);
    z-index: 2;
}
.header-triangle2 {
    position: absolute;
    background-image: linear-gradient(270deg, #FFC301 0%, #FF6D0D 100%);
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 0 100%);
    width: 160px;
    height: 140px;
    box-shadow: 0px 2px 4px 0px var(--shadow);
    z-index: 0;
}
.header-triangle3 {
    position: absolute;
    background-image: linear-gradient(-45deg, #FFC301 0%, #FF6D0D 100%);
    transform: rotate(90deg);
    clip-path: polygon(0 100%, 100% 100%, 0 0);
    width: 40px;
    height: 40px;
    right: 40px;
    top: 70px;
    box-shadow: 0px 2px 4px 0px var(--shadow);
}

/* Top Menu settings */

.menu {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
    margin-right: 400px;
}

.menu a {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: var(--white);
    text-decoration: none;
    margin-top: 20px;
    margin-right: 40px;
    text-shadow: 2px 4px 3px var(--shadow)
}

/* Search Bar Settings */

.search-bar {
    align-self: center;
}

.form-group {
    background-color: var(--white);
    display: flex;
    width: 500px;
    height: 40px;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0px 2px 4px 0px var(--shadow);
}

.dropdown {
    position: relative;
    width: 100px;
    padding-left: 5px;
    color: #3a3a3a;
    cursor: pointer;
}

.default-option {
    padding: 2px 2px;
    font-size: 14px;
}

.dropdown-list ul {
    list-style: none;
    background-color: var(--white);
    color: #696969;
    position: absolute;
    top: 50px;
    left: 0px;
    width: 150px;
    border-radius: 5px;
    display: none;
    box-shadow: 0px 2px 4px 0px var(--shadow);
}

.dropdown-list ul.active {
    display: block;
}

.dropdown-list ul li {
    padding: 10px 10px 10px 20px;
}

.dropdown-list ul li i {
    margin-right: 5px;  
}

.dropdown::before {
    content: "";
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #1d1d1d transparent;
    position: absolute;
    right: -5px;
    top: 45%;
}

.dropdown-list ul li:hover {
    background-color: var(--white);
    color: #1d1d1d;
    font-weight: bold;
    border-radius: 5px;
}

.search {
    width: 350px;
    height: 100%;
}

.search-input {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0 10px;
    color: #3a3a3a;
}

.btn {
    background-color: var(--white);
    width: 50px;
    height: 20px;
    border: 0;
    cursor: pointer;
}

.btn .fa-magnifying-glass {
    font-size: 18px;
    color: #505050;
    
}

.btn .fa-magnifying-glass:hover {
    font-size: 20px;
    color: #2A2A2A;
}

input, button:focus {
    outline: none;
}

/* Main Flexbox Settings */

.content {
    width: 100vw;
    display: flex;
    height: 95%;
}

/* Breadcrumb Settings */
.breadcrumb {
    width: 100vw;
    height: 5%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--breadcrumb-linecolor);
    padding-bottom: 20px;
}

.breadcrumb a{
    text-decoration: none;
    font-size: 18px;
    margin-right: 5px;
}

.breadcrumb span {
    font-size: 17px;
}

/* collapsible side menu settings */

.navmenu {
    position: relative;
    width: 20%;
    color: #3a3a3a;
    cursor: pointer;
    margin-top: 10px;
}

/* First item */

.first-item{
    margin-top: 14px;
    margin-bottom: 14px;
    padding: 2px 2px;
    font-size: 18px;

    color: #383838;
}

.first-item.active{
    color:  var(--sidebar-activecolor);
    font-weight: 600;
}

/* Second Item */

.second-item {
    margin-top: 14px;
    margin-bottom: 14px;
    padding: 2px 2px;
    font-size: 18px;

    color: #383838;
}

.second-item.active{
    color: var(--sidebar-activecolor);
    font-weight: 600;
}

/* collapsible list 1 */

.collapsible-list1 ul {
    list-style: none;
    background-color: var(--white);
    color: #696969;
    width: 150px;
    display: none;
    border-left: 4px solid rgb(88, 88, 88);

    font-size: 12px;
}

.collapsible-list1 ul.active {
    display: block;
}

.collapsible-list1 ul li {
    padding: 10px 10px 10px 10px;
}

.collapsible-list1 ul li i {
    margin-right: 5px; 
}

/* collapsible list 2 */

.collapsible-list2 ul {
    list-style: none;
    background-color: var(--white);
    color: #696969;
    width: 150px;
    display: none;
    border-left: 4px solid rgb(88, 88, 88);

    font-size: 12px;
}

.collapsible-list2 ul.active {
    display: block;
}

.collapsible-list2 ul li {
    padding: 10px 10px 10px 10px;
}

.collapsible-list2 ul li i {
    margin-right: 5px; 
}

/* arrow item 1 */
.arrow1 {
    border: solid var(--sidebar-arrowcolor);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 60px;
    transform: rotate(-45deg);
  

  }

  .arrow1.active {
    transform: rotate(45deg);
    border-color: #ffab35;

  }

/* arrow item 2 */

.arrow2 {
    border: solid var(--sidebar-arrowcolor);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 60px;
    transform: rotate(-45deg);

  }

  .arrow2.active {
    transform: rotate(45deg);
    border-color: #ffab35;
  }

  .main {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
  }

  .title {
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .title p {
    font-size: 30px;
    font-weight: 800;
 }

.boxcontainer {
    height: 87%;
    display: flex;
    flex-wrap: wrap;   
    padding-bottom: 251px;
    
}

  .box {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(36, 36, 36, 0.25);
    border-radius: 3px;
    width: 367px;
    height: 101px;
    display: flex;
    padding: 10px;
    align-items: center;
    margin: 20px 40px 20px 0;

    transition: transform .2s;

  }

  .box:hover {
    transform: scale(1.03);
  }

.box .fa-solid {
    right: 10px;
    font-size: 40px;
    color: #505050;
    padding: 10px;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.box .triangle {
    position: absolute;
    background-image: linear-gradient(135deg, #FFC301 0%, #FF6D0D 100%);
    transform: rotate(90deg);
    clip-path: polygon(0 100%, 100% 100%, 0 0);
    width: 80px;
    height: 80px;
}


.boxcontent {
    height: 100%;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}


.box p {
    margin-top: 10px;
    font-size: 10px;
}


.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    color: white;
    
}

.footer-title {
    display: flex;
    justify-content: First;
    align-items: center;
    width: 100%;
    padding: 10px 0 10px 0;
}

.footer-title h1 {
    font-size: 20px;
    font-weight: 400;
}

.footer-contact {
    width: 100%;
    background-color: #3d3d3d;
    padding: 15px;
    height: 20%;
}

.footer-contact-container {
    display: flex;
    justify-content: space-between;
}

.inputfield {
    display: flex;
    flex-direction: column;
    color: #808080;
    font-weight: 600;
    border-bottom: 2px solid #1d1d1d;
    width: 29%;
}

.inputfield [type="text"]{
    width: 100%;
    height: 100%;
    border: 0;
    background-color: #3d3d3d;
}

.inputfield input {
    margin-top: 8px;
}

.btngetstarted button {
    background-color: #ffcf36;
    border: none;
    color: #1d1d1d;
    padding: 7px 10px 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}

.footer-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border-top: 2px solid #3d3d3d;
   padding-top: 30px;
}

.footer-links .column ul {
    display: flex;
    flex-direction: column;
}

.footer-links .column {
    font-weight: 600;
}

.footer-links a {
    font-weight: 300;
    text-decoration: none;   
    color: white;
    margin-top: 10px;
}

#employee {
    font-weight: 600;
}